/*--------------------------------------------------------------
Menus
--------------------------------------------------------------*/
.elementor-menu {
	display: none;
	-webkit-flex: 0 1 100%;
	-ms-flex: 0 1 100%;
	flex: 0 1 100%;
	margin: 0;
	clear: both;	
}

.elementor-menu.eltoggled-on,
.no-js .elementor-menu {
	display: block;
}

.elementor-navigation ul {
	list-style: none;
	margin: 0;
}

.elementor-navigation li {
	position: relative;
	display: block;
}

.elementor-navigation a {
	display: block;
	line-height: 1.3125;
	outline-offset: -1px;
	padding: 0.84375em 0;
}

.elementor-nav-menu a {
	color: #ffffff;
}
.elementor-nav-menu .menu-item a,
.elementor-nav-menu .current-menu-item a,
.elementor-widget-elementor-navmenu .elementor-nav-menu .menu-item a {
	background-color: #00215e;
}

.elementor-navigation .current-menu-item > a,
.elementor-navigation .current-menu-ancestor > a {
	font-weight: 700;
}

.elementor-navigation ul ul {
	display: none;
}

.elementor-navigation ul li,
.elementor-navigation ul ul li {
	text-align: left;
}

.no-js .elementor-navigation ul ul {
	display: block;
}

.elementor-navigation ul .eltoggled-on {
	display: block;
}

.elementor-navigation .menu-item-has-children > a {
	margin-right: 56px;
}

.eldropdown-toggle {
	background-color: transparent;
	border: 0;
	border-radius: 0;
	color: #1a1a1a;
	content: "";
	height: 48px;
	padding: 0;
	position: absolute;
	right: 0;
	text-transform: none;
	top: 0;
	width: 48px;
}

.eldropdown-toggle:after {
	border: 0 solid #d1d1d1;
	border-left-width: 1px;
	content: "\f107";
    font-family: FontAwesome;
	font-size: 24px;
	left: 1px;
	position: relative;
	width: 48px;
}

.eldropdown-toggle:focus {
	outline: thin dotted;
	outline-offset: -1px;
}

.eldropdown-toggle:focus:after {
	border-color: transparent;
}

.eldropdown-toggle.eltoggled-on:after {
	content: "\f106";
}

.elementor-menu-toggle {
	font-size: 14px;
	font-size: 1rem;
	margin: 1.076923077em 0;
	padding: 0.569230769em 0.769230769em;
	clear: both;
}

.elementor-menu-toggle {
	font-size: 24px;
	font-size: 1.5rem;
}

.no-js .elementor-menu-toggle {
	display: none;
}

.elementor-menu-toggle:focus {
	outline: 0;
}

.elementor-menu-toggle.eltoggled-on:focus {
	outline: thin dotted;
}

@media screen and (min-width: 48em) {
	.elementor-menu-toggle {
		font-size: 16px;
		font-size: 1.0rem;
		margin: 1.3125em 0;
		padding: 0.8125em 0.875em 0.6875em;
	}	
}

@media screen and (min-width: 56.875em) {
	.elementor-menu {
		display: block;
		-webkit-flex: 0 1 auto;
		-ms-flex: 0 1 auto;
		flex: 0 1 auto;
	}

	.elementor-navigation {
		margin: 0 -0.875em;
	}
	
	.elementor-navigation li {
		display: inline-block;
	}

	.elementor-navigation a {
		outline-offset: -8px;
		padding: 1em;
		white-space: nowrap;
	}

	.elementor-navigation ul ul {
		display: block;
		left: -999em;
		margin: 0;
		position: absolute;
		z-index: 99999;
	}

	.elementor-navigation ul ul ul {
		top: -1px;
	}

	.elementor-navigation ul ul ul:before,
	.elementor-navigation ul ul ul:after {
		border: 0;
	}

	.elementor-navigation ul ul a {
		white-space: normal;
		width: 12.6875em;
	}	

	.elementor-navigation li:hover > ul,
	.elementor-navigation li.focus > ul {
		left: auto;
		right: 0;
	}

	.elementor-navigation ul ul li:hover > ul,
	.elementor-navigation ul ul li.focus > ul {
		left: auto;
		right: 100%;
	}

	.elementor-navigation .menu-item-has-children > a {
		margin: 0;
		padding-right: 2.25em;
	}

	.elementor-navigation .menu-item-has-children > a:after {
		content: "\f107";
		font-family: FontAwesome;
		position: absolute;
		right: 0.625em;
		top: 1.25em;
	}

	.elementor-navigation ul ul .menu-item-has-children > a {
		padding-right: 2.0625em;
	}

	.elementor-navigation ul ul .menu-item-has-children > a:after {
		right: 0.5625em;
		top: 0.875em;
		-webkit-transform: rotate(90deg);
		-moz-transform: rotate(90deg);
		-ms-transform: rotate(90deg);
		transform: rotate(90deg);
	}
	.eldropdown-toggle,
	.elementor-navigation ul .eldropdown-toggle.eltoggled-on,
	.elementor-menu-toggle {
		display: none;
	}	
}

@media screen and (max-width: 56.874em) {
	.elementor-navigation a {
		padding-left: 1em;
	}
}